<header class="intro-header" [style.background-image]="'url(' + img + ')'" style="max-height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{heading}}</h1>
                    <hr class="small">
                    <span class="subheading">{{subheading}}</span>
                    <span class="meta" *ngIf="author">Posted by <a href={{social}} style="color: greenyellow"
                            target="_blank">{{author}}</a> on
                        {{date|date}}</span>
                </div>
            </div>

            <div class="col-xs-12 col-lg-12 label" style="text-align: right;" *ngIf="imgOwner">
                Image by <a target="_blank"
                    href="https://pixabay.com/users/{{imgOwner}}?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content={{imgId}}">{{imgOwner.substr(0, imgOwner.lastIndexOf('-')).trim()}}
                </a> from <a target="_blank"
                    href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content={{imgId}}">Pixabay</a>
            </div>
        </div>
    </div>
</header>
