<app-subheader [img]="home.img" [heading]="home.heading" [subheading]="home.subheading"></app-subheader>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" *ngFor="let post of homePosts; let index=index;">
      <blockquote>
      <div class="post-preview">
        <a routerLink="/posts/{{index}}">
          <h2 class="post-title">
            {{post.title}}
          </h2>
          <h3 class="post-subtitle">
            {{post.subtitle}} </h3>
        </a>
        <p class="post-meta">Posted by <a href="{{post.social}}"
            target="_blank">{{post.author}}</a>{{post.postDate | date}}</p>
      </div>
    </blockquote>
      <!-- <hr> -->
    </div>
  </div>
  <!-- Pager -->
  <ul class="pager">
    <li class="next">
      <a routerLink="/posts">More Posts &rarr;</a>
    </li>
  </ul>
</div>