<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" routerLink="new">New Post</button>
        </div>
    </div>
    <hr>
    <div>
        <div class="col-xs-6" *ngFor="let postItem of posts; let i = index" style="margin-bottom: 4px;">
            <app-post-item [post]="postItem" [index]="i">
            </app-post-item>
        </div>
    </div>
    <div class="loading">
        <app-loading *ngIf="isLoading"></app-loading>
    </div>

    <div class="alert alert-danger" *ngIf="isErrorAlert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="onClose()">&times;</button>
        <strong>Error</strong> Some error occured while loading posts
    </div>

</div>